<html>
    <head>
        <title>Temporary link shortener</title>
    </head>
    <body>
        <div class="box">
        <h1>Temporary link shortener</h1>
        <p>We are sorry, but the generation of new short links has been disabled.</p>
        <p>Existing links will still continue to work.</p>
        </div>
        <div class="footer">
            <a href="https://github.com/TriLinder/TempLinkShortener">GitHub</a><p></p>
        </div>
    </body>
    <style>
        body {
            text-align: center;
            border: 0.417vw;
            border: solid;
        }

        .box {
            padding: 15%;
        }

        .footer {
            bottom: 0%;
            left: 50%;
            position: fixed;
            text-align: center;
        }
    </style>
</html>